@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {

    main {
        width: 700px;
        height: 500px;
        padding: 50px 100px;
    }

    form input[type=submit] {
        margin-top: 70px;
    }

    .lembrar-esqueci {
        display: flex;
        justify-content: space-evenly;
    
    }
}




@media screen and (min-width:992px) {

main {
        width: 800px;
        height: 500px;
        padding: 50px 130px;
    }
    
    form input[type=submit] {
        margin-top: 80px;
    }

    .lembrar-esqueci {
        display: flex;
        justify-content: space-evenly;
    
    }
}