@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightblue;
    padding: 10px;
}
header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
}
menu {
    padding-top: 20px;
    display: none;
}

#opcoes {
    display: block;
    background-color: #0000002f;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
}
#opcoes:hover {
    background-color: black;
    color: white;
    transition: .2s;
    cursor: pointer;
}

menu ul{
    list-style-type: none;
}

menu li {
    text-align: center;
    padding-bottom: 3px;
}
menu li a {
    display: block;
    background-color: #0000002f;
    border-radius: 7px;
    padding: 7px;
    text-decoration: none;
    color: white;
}
menu li a:hover {
    background-color: black;
    color: white;
    transition: .3s;
}


article {
    background-color: aliceblue;
    max-width: 450px;
    margin: auto;
    text-align: justify;
}
article h1 {
    text-align: center;
    padding-top: 20px;
}
article p {
    margin: 20px;
    padding-bottom: 15px;
    line-height: 1.5em;
    text-indent: 30px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 7px;
}
