@charset "UTF-8";

@media screen and (min-width:700px) and (max-width:1000px) { /*TABLET*/
    header h1 {
        text-align: center;
    }

    section.sec-principal, section.sec-normal {
        max-width: 680px;
    }

    div.media-video iframe {
        height: 350px;
        width: 600px;
    }

    

}

@media screen and (min-width:1000px) {

    header h1 {
        text-align: startsection;
    }

    section.sec-principal, section.sec-normal {
        max-width: 1200px;
    }

    article.img-text {
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    div.media-img img {
        height: 400px;
        width: 230px;
        margin: 20px 70px;
    }

    div.media-video iframe {
        height: 430px;
        width: 800px;
    }
}