@charset "UTF-8";

/* Versão para Mobile */

* {
    box-sizing: border-box; /* Inclui padding e border na largura e altura totais */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url('../imagens/back-phone.jpg') no-repeat;
}

main {
    background-color: rgba(255, 255, 255, 0.664);
    width: 90vw;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}